extends ../layout

block content
    div.container
        h1 Create New Contact
        form(action="/contacts" method="post")
            label(for="fName") First Name 
            input.form-control(type="text" name='fName') 
            label(for="lName") Last Name 
            input.form-control(type="text" name='lName') 
            label(for="email") Email 
            input.form-control(type="text" name='email') 
            label(for="notes") Notes 
            textarea.form-control(name="notes", cols="30", rows="10") 
            button.btn.btn-success.w-100(type='submit') Save
        a.btn.btn-secondary.my-2.w-100(href='/contacts/list') back